# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

as well as an

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [4]:
#Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [5]:
#Code:
sat_2017 = pd.read_csv("../data/sat_2017.csv")
act_2017 = pd.read_csv("../data/act_2017.csv")

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [6]:
sat_2017.shape

(51, 5)

In [7]:
#Code:
sat_2017.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

In [8]:
sat_2017.tail(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
41,South Dakota,3%,612,603,1216
42,Tennessee,5%,623,604,1228
43,Texas,62%,513,507,1020
44,Utah,3%,624,614,1238
45,Vermont,60%,562,551,1114
46,Virginia,65%,561,541,1102
47,Washington,64%,541,534,1075
48,West Virginia,14%,558,528,1086
49,Wisconsin,3%,642,649,1291
50,Wyoming,3%,626,604,1230

In [9]:
sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [10]:
act_2017.shape

(52, 7)

In [11]:
act_2017.head(10)

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

In [12]:
act_2017.tail(10)

            State Participation  English  Math  Reading  Science Composite
42   South Dakota           80%     20.7  21.5     22.3     22.0      21.8
43      Tennessee          100%     19.5  19.2     20.1     19.9      19.8
44          Texas           45%     19.5  20.7     21.1     20.9      20.7
45           Utah          100%     19.5  19.9     20.8     20.6      20.3
46        Vermont           29%     23.3  23.1     24.4     23.2      23.6
47       Virginia           29%     23.5  23.3     24.6     23.5      23.8
48     Washington           29%     20.9  21.9     22.1     22.0      21.9
49  West Virginia           69%     20.0  19.4     21.2     20.5      20.4
50      Wisconsin          100%     19.7  20.4     20.6     20.9      20.5
51        Wyoming          100%     19.4  19.8     20.8     20.6     20.2x

In [13]:
act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

#### 3. Verbally Describe Data

Take your time looking through the data and thoroughly describe the data in the markdown cell below.

Answer: 

In the sat_2017 file, we see that it is detailing the breakdown of participation percentages and the mean of testing scores across 3 different categories, by state. The sat_2017 dataset has 5 columns. The 'State' and 'Participation' columns contain string object values, Patricipation presumably because they were initially entered in with the '%' sign. Every column appears to have 51 rows.

In the act_2017 file, we see that it shows the participation percentages and mean testing scores across 5 different testing categories, by both state <b>and</b> at the national level. There are 7 columns (2 more than the sat_2017 dataset). As with the previous dataset, the 'State' column and 'Participation' columns contains string object values, Patricipation presumably because they are displayed with the '%' sign. Every column has 52 rows. We may initially say that one reason for the 1+ column more than the sat_2017 dataset is due to the fact that the act_2017 has <i>national averages</i>

#### 4a. Does the data look complete?

In [14]:
# sat_2017.isna().sum()
# act_2017.isna().sum()

Answer:

Compared with one another, the overall row counts between the two datasets do not match. The ACT dataset has 1 more entry than the SAT. One explanation for this is a row in the ACT dataset specifically for national averages. This would indiate that the <b>SAT dataset may not be complete.</b>

Taken only in terms of one dataset in itself, given that each column contains the same number of rows, and no column in either dataset has any NaN / missing values, <b>the data does look to be complete intra-dataset</b>

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

### Answer:

Minimum possible value for each test/subtest, SAT: <b>200 / Subtest</b>

Maximum possible value for each test/subtest, SAT: <b>800 / Subtest</b>
    
Minimum possible value for each test/subtest, ACT: <b>1 / Subtest</b>

Maximum possible value for each test/subtest, ACT: <b>36 / Subtest</b>

### The min in the sat_2017 column is well below the lowest possible score for the SAT

In [15]:
# print(sat_2017["Evidence-Based Reading and Writing"].describe())
print(sat_2017["Math"].describe())

# print(act_2017["English"].describe())
# print(act_2017["Math"].describe())
# print(act_2017["Reading"].describe())
# print(act_2017["Science"].describe())

count     51.000000
mean     547.627451
std       84.909119
min       52.000000
25%      522.000000
50%      548.000000
75%      599.000000
max      651.000000
Name: Math, dtype: float64

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In [16]:
#code
sat_2017["Math"].loc[20] # 20 is the cell that is throwing off the col
sat_2017.loc[20]

State                                 Maryland
Participation                              69%
Evidence-Based Reading and Writing         536
Math                                        52
Total                                     1060
Name: 20, dtype: object

#### 5. What are your data types? 
Display the data types of each feature.

In [17]:
#code
sat_2017.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [18]:
act_2017.dtypes

State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

### Answer:

The 'Participation' columns in both the sat_2017 and act_2017 datasets should not be a string type, we want to perform any calculations on it.
These should most likely be cast into floats either as-is, or in decimal/percent form.

The 'Composite' column in the act_2017 column is also a Series-Object / string. The values in this column are numeric, and should also most likely be cast into floats or integers.

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [19]:
#code
def format_participation(participation):
    try:
        return float(participation)
    except ValueError:
        participation = participation[:-1]
        return float(participation)

In [20]:
sat_2017["Participation"] = sat_2017["Participation"].apply(format_participation)
act_2017["Participation"] = act_2017["Participation"].apply(format_participation)

- Fix any individual values preventing other columns from being the appropriate type.

In [21]:
# Some values in actact_2017["Composite"] have alphabet characters in them.
# act_2017.tail(10)

In [22]:
# Check which values in Composite contain a non-numeric character:
# act_2017["Composite"].value_counts() # Output = last cell in this col has the non-numeric character

In [23]:
#code
def format_composite(composite):
    try:
        return float(composite)
    except ValueError:
        composite = composite[:-1]
        return float(composite)

In [24]:
act_2017["Composite"] = act_2017["Composite"].apply(format_composite)

In [25]:
# Check 
# act_2017.dtypes
# act_2017.tail()

- Finish your data modifications by making sure the columns are now typed appropriately.

In [26]:
#code
# sat_2017.head()
# act_2017.head()
# sat_2017.tail()
# act_2017.tail()

- Display the data types again to confirm they are correct.

In [27]:
#Code:
sat_2017.dtypes
act_2017.dtypes

State             object
Participation    float64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [28]:
#code
sat_2017_mapping = {"State": "state", 
               "Participation": "sat_2017_participation", 
               "Evidence-Based Reading and Writing": "sat_2017_reading_writing", 
               "Math": "sat_2017_math",
               "Total": "sat_2017_total"}

act_2017_mapping = {"State": "state", 
               "Participation": "act_2017_participation", 
               "English": "act_2017_english", 
               "Math": "act_2017_math", 
               "Reading": "act_2017_reading",
               "Science": "act_2017_science",
               "Composite": "act_2017_composite"}

sat_2017.rename(columns=sat_2017_mapping, inplace=True)
act_2017.rename(columns=act_2017_mapping, inplace=True)

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|state|object|SAT|The state in which the test has been taken|
|participation|float|SAT|The percentage of students haven taken the SAT (Ex: 60.0 = 60%)|
|reading_writing|int|SAT|The average score earned in evident-based reading & writing by state|
|math|int|SAT|The average score earned by students in math by state|
|total|int|SAT|Total earned score acros both reading_writing and math by state|

|Feature|Type|Dataset|Description|
|---|---|---|---|
|state|object|ACT|The state in which the test has been taken|
|participation|float|ACT|The percentage of students haven taken the ACT (Ex 75.0 = 75%)|
|english|float|ACT|Average score earned in English subtest by state|
|math|float|ACT|Average score earned in Math subtest by state|
|reading|float|ACT|Average score earned in Reading subtest by state|
|science|float|ACT|Average score earned in Science subtest by state
|composite|float|ACT|Average score across English, Math, Reading, and Science by state|

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [29]:
# sat_2017
# sat_2017["state"].duplicated()  # No duplicates in SAT

In [30]:
# act_2017  # Has 1 extra row than sat_2017
# act_2017["state"].duplicated()  # No duplicates in ACT
# Extra row in row 0

In [31]:
act_2017.head(2)

,state,act_2017_participation,act_2017_english,act_2017_math,act_2017_reading,act_2017_science,act_2017_composite
0,National,60.0,20.3,20.7,21.4,21.0,21.0
1,Alabama,100.0,18.9,18.4,19.7,19.4,19.2

In [32]:
#code
act_2017.drop(0, inplace=True)
act_2017.head(2)

,state,act_2017_participation,act_2017_english,act_2017_math,act_2017_reading,act_2017_science,act_2017_composite
1,Alabama,100.0,18.9,18.4,19.7,19.4,19.2
2,Alaska,65.0,18.7,19.8,20.4,19.9,19.8

In [33]:
act_2017.reset_index(drop=True, inplace=True)

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [34]:
#Code:
combined_2017_df = sat_2017.merge(act_2017, 
                                  how="outer", 
                                  on="state")

combined_2017_df.head(1)

,state,sat_2017_participation,sat_2017_reading_writing,sat_2017_math,sat_2017_total,act_2017_participation,act_2017_english,act_2017_math,act_2017_reading,act_2017_science,act_2017_composite
0,Alabama,5.0,593,572,1165,100.0,18.9,18.4,19.7,19.4,19.2

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [35]:
#code
combined_2017_df.to_csv("../data/combined_2017.csv")

## 2018 Data Import and Cleaning

Read in the `sat_2018.csv` and `act_2018.csv` files and assign them to appropriately named pandas dataframes. For the **2018 ACT Data**, only the `Composite` scores are available. Repeat the same processes to clean the 2018 data here as you were instructed in the previous sections above.

In [36]:
# Read in Data
sat_2018 = pd.read_csv("../data/sat_2018.csv")
act_2018 = pd.read_csv("../data/act_2018.csv")

In [37]:
# Display Data
# sat_2018
# sat_2018.head(10)
# sat_2018.tail(10)
sat_2018.info()
# sat_2018.describe()
# sat_2018.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [38]:
# act_2018
# act_2018.head(10)
# act_2018.tail(10)
act_2018.info()
# act_2018.describe()
# act_2018.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

## Verbally Describe Data
SAT 2018: 
The sat_2018 dataset contains a string column of state names, a string column of 'percentages' of participation by state, and 3 integer columns: 1 Evidence-Based Reading and Writing, 1 Math, and column of the totals of the previous two integer columns. None of the min or max values in any integer column seems like outside the boundaries of possible scores. Each Column has 51 non-null values.

ACT 2018:
The act_2018 dataset contains a string column of state names, a string column of 'percentages' of participation by state, and 1 integer column: the Composite score, which as average of a student's score across the 4 subtest types. None of the min or max values seems outside of the limits for scores. This dataset has 52 rows, 1 more than the sat_2018 dataset.

## A- Does the data look complete?
Neither the sat_2018 or act_2018 dataset has any NaN/missing values. This indicates that the data is complete.

The act_2018 DF does have one additional column that the sat_2018 DF does not have. The act_2018 DF is also missing columns that the act_2017 DF contained, indicating that, year over year, we are missing data.

In [39]:
# sat_2018.isna().sum()
# act_2018.isna().sum()

## B- Are there any obvious issues with the data?
The Participation columns of both dataframes will need to be converted to an appropriate datatype (type float). The column names in both DF's will also need to be changed.

In [40]:
# C- Fix errors
# Find the reason why act_2018 has more rows:
act_2018[act_2018.duplicated()]

    State Participation  Composite
20  Maine            7%       24.0

In [41]:
act_2018.drop(20, inplace=True)

In [42]:
act_2018.reset_index(drop=True, inplace=True)

In [43]:
# What are the dtypes?
sat_2018.dtypes
# act_2018.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [44]:
# Fix the wrong dtypes
sat_2018["Participation"] = sat_2018["Participation"].apply(format_participation)
act_2018["Participation"] = act_2018["Participation"].apply(format_participation)

In [45]:
# Rename cols
sat_2018.rename(columns={"State": "state",
                         "Participation": "sat_2018_participation",
                         "Evidence-Based Reading and Writing": "sat_2018_reading_writing",
                         "Math": "sat_2018_math",
                         "Total": "sat_2018_total"}, 
                         inplace=True)
act_2018.rename(columns={"State": "state",
                         "Participation": "act_2018_participation",
                         "Composite": "act_2018_composite"},
                         inplace=True)

# Data Dictionaries for SAT & ACT 2018
|Feature|Type|Dataset|Description|
|---|---|---|---|
|state|object|SAT|The state in which the test has been taken|
|participation|float|SAT|The percentage of students haven taken the SAT (Ex: 60.0 = 60%)|
|reading_writing|int|SAT|The average score earned in evident-based reading & writing by state|
|math|int|SAT|The average score earned by students in math by state|
|total|int|SAT|Total earned score acros both reading_writing and math by state|

|Feature|Type|Dataset|Description|
|---|---|---|---|
|state|object|ACT|The state in which the test has been taken|
|participation|float|ACT|The percentage of students haven taken the ACT (Ex 75.0 = 75%)|
|composite|float|ACT|Average score across English, Math, Reading, and Science by state|

In [46]:
# Merge DFs
combined_2018_df = sat_2018.merge(act_2018, on="state")
combined_2018_df.head(1)

,state,sat_2018_participation,sat_2018_reading_writing,sat_2018_math,sat_2018_total,act_2018_participation,act_2018_composite
0,Alabama,6.0,595,571,1166,100.0,19.1

In [47]:
# Save the merge DF
combined_2018_df.to_csv("../data/combined_2018.csv")

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

In [48]:
final = combined_2017_df.merge(combined_2018_df, on="state")

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [49]:
#Code:
final.describe()
# final.dtypes

,sat_2017_participation,sat_2017_reading_writing,sat_2017_math,sat_2017_total,act_2017_participation,act_2017_english,act_2017_math,act_2017_reading,act_2017_science,act_2017_composite,sat_2018_participation,sat_2018_reading_writing,sat_2018_math,sat_2018_total,act_2018_participation,act_2018_composite
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,38.600000,570.860000,549.220000,1129.620000,65.920000,20.862000,21.13600,21.956000,20.992000,21.466000,44.820000,565.020000,557.760000,1122.880000,62.320000,21.454000
std,34.560211,44.385146,84.998269,89.913085,32.110676,2.324307,1.97399,2.046317,3.195139,2.004241,37.097604,47.010416,46.987432,92.845634,34.114118,2.111312
min,2.000000,503.000000,52.000000,996.000000,8.000000,16.300000,18.00000,18.100000,2.300000,17.800000,2.000000,480.000000,486.000000,998.000000,7.000000,17.700000
25%,4.000000,535.250000,523.250000,1057.000000,31.000000,19.000000,19.40000,20.425000,19.900000,19.800000,4.250000,535.000000,524.250000,1062.250000,27.750000,19.925000
50%,34.000000,559.500000,549.500000,1107.500000,71.000000,20.550000,20.90000,21.700000,21.100000,21.400000,50.000000,552.000000,545.500000,1098.500000,66.000000,21.050000
75%,65.000000,613.500000,601.000000,1214.000000,100.000000,23.100000,23.00000,23.875000,22.275000,23.400000,74.500000,612.750000,594.250000,1207.000000,100.000000,23.650000
max,100.000000,644.000000,651.000000,1295.000000,100.000000,25.500000,25.30000,26.000000,24.900000,25.500000,100.000000,643.000000,655.000000,1298.000000,100.000000,25.600000

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [50]:
#code
# std = sqrt of sum(xi - mean)^2 / n

def calculate_std(df, col):
    squared_diffs = 0
    for i in df[col]:
        squared_diffs += ((i - df[col].mean()) ** 2)  
    return (squared_diffs / df[col].count()) ** 0.5
        

calculate_std(final, "sat_2017_reading_writing")

43.9390532442382

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [51]:
#Code:
sd = {col: calculate_std(final, col) for col in final.iloc[:, 1:]}
sd

{'sat_2017_participation': 34.21286307808804,
 'sat_2017_reading_writing': 43.9390532442382,
 'sat_2017_math': 84.14399324966696,
 'sat_2017_total': 89.00941298536914,
 'act_2017_participation': 31.787947401491657,
 'act_2017_english': 2.3009467616613812,
 'act_2017_math': 1.9541504548012678,
 'act_2017_reading': 2.025750231395766,
 'act_2017_science': 3.1630263988781375,
 'act_2017_composite': 1.9840977798485642,
 'sat_2018_participation': 36.72475459414263,
 'sat_2018_reading_writing': 46.537937212558106,
 'sat_2018_math': 46.51518461749884,
 'sat_2018_total': 91.91248881408882,
 'act_2018_participation': 33.7712540483767,
 'act_2018_composite': 2.090091864009809}

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

### Answer:
No, my manually calculated stand deviation did not match up with the output from pandas `describe`.

Using numpy's `std` method, the output of the `std` method returned the same output as my own `calculate_std` function.

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [75]:
# Highest Participation by State:
final.groupby("state")["sat_2017_participation"].max().tail(1)
# Michigan has the highest participation for sat_2017 state

final.groupby("state")["sat_2018_participation"].max().tail(1)
# Michigan has the highest participation for sat_2018 by state

final.groupby("state")["act_2017_participation"].max().tail(1)
# Wyoming has the highest participation for act_2017 by state

final.groupby("state")["act_2018_participation"].max().tail(1)
# Wyoming has the highest participation for act_2018 by state

act_2018_participation
100.0    Wyoming
Name: state, dtype: object

In [112]:
# Lowest Participation by State:
final.groupby("state")["sat_2017_participation"].describe()
# North Dakota has the lowest

# final.groupby("sat_2018_participation")["state"].min().head(1)
# # North Dakota has the lowest

# final.groupby("act_2017_participation")["state"].min().head(1)
# # Maine has the lowest

# final.groupby("act_2018_participation")["state"].min().head(1)
# # Maine has the lowest

                count   mean  std    min    25%    50%    75%    max
state
Alabama           1.0    5.0  NaN    5.0    5.0    5.0    5.0    5.0
Alaska            1.0   38.0  NaN   38.0   38.0   38.0   38.0   38.0
Arizona           1.0   30.0  NaN   30.0   30.0   30.0   30.0   30.0
Arkansas          1.0    3.0  NaN    3.0    3.0    3.0    3.0    3.0
California        1.0   53.0  NaN   53.0   53.0   53.0   53.0   53.0
Colorado          1.0   11.0  NaN   11.0   11.0   11.0   11.0   11.0
Connecticut       1.0  100.0  NaN  100.0  100.0  100.0  100.0  100.0
Delaware          1.0  100.0  NaN  100.0  100.0  100.0  100.0  100.0
Florida           1.0   83.0  NaN   83.0   83.0   83.0   83.0   83.0
Georgia           1.0   61.0  NaN   61.0   61.0   61.0   61.0   61.0
Hawaii            1.0   55.0  NaN   55.0   55.0   55.0   55.0   55.0
Idaho             1.0   93.0  NaN   93.0   93.0   93.0   93.0   93.0
Illinois          1.0    9.0  NaN    9.0    9.0    9.0    9.0    9.0
Indiana           1.0   63.0  NaN   63.0   63.0   63.0   63.0   63.0
Iowa              1.0    2.0  NaN    2.0    2.0    2.0    2.0    2.0
Kansas            1.0    4.0  NaN    4.0    4.0    4.0    4.0    4.0
Kentucky          1.0    4.0  NaN    4.0    4.0    4.0    4.0    4.0
Louisiana         1.0    4.0  NaN    4.0    4.0    4.0    4.0    4.0
Maine             1.0   95.0  NaN   95.0   95.0   95.0   95.0   95.0
Maryland          1.0   69.0  NaN   69.0   69.0   69.0   69.0   69.0
Massachusetts     1.0   76.0  NaN   76.0   76.0   76.0   76.0   76.0
Michigan          1.0  100.0  NaN  100.0  100.0  100.0  100.0  100.0
Minnesota         1.0    3.0  NaN    3.0    3.0    3.0    3.0    3.0
Mississippi       1.0    2.0  NaN    2.0    2.0    2.0    2.0    2.0
Missouri          1.0    3.0  NaN    3.0    3.0    3.0    3.0    3.0
Montana           1.0   10.0  NaN   10.0   10.0   10.0   10.0   10.0
Nebraska          1.0    3.0  NaN    3.0    3.0    3.0    3.0    3.0
Nevada            1.0   26.0  NaN   26.0   26.0   26.0   26.0   26.0
New Hampshire     1.0   96.0  NaN   96.0   96.0   96.0   96.0   96.0
New Jersey        1.0   70.0  NaN   70.0   70.0   70.0   70.0   70.0
New Mexico        1.0   11.0  NaN   11.0   11.0   11.0   11.0   11.0
New York          1.0   67.0  NaN   67.0   67.0   67.0   67.0   67.0
North Carolina    1.0   49.0  NaN   49.0   49.0   49.0   49.0   49.0
North Dakota      1.0    2.0  NaN    2.0    2.0    2.0    2.0    2.0
Ohio              1.0   12.0  NaN   12.0   12.0   12.0   12.0   12.0
Oklahoma          1.0    7.0  NaN    7.0    7.0    7.0    7.0    7.0
Oregon            1.0   43.0  NaN   43.0   43.0   43.0   43.0   43.0
Pennsylvania      1.0   65.0  NaN   65.0   65.0   65.0   65.0   65.0
Rhode Island      1.0   71.0  NaN   71.0   71.0   71.0   71.0   71.0
South Carolina    1.0   50.0  NaN   50.0   50.0   50.0   50.0   50.0
South Dakota      1.0    3.0  NaN    3.0    3.0    3.0    3.0    3.0
Tennessee         1.0    5.0  NaN    5.0    5.0    5.0    5.0    5.0
Texas             1.0   62.0  NaN   62.0   62.0   62.0   62.0   62.0
Utah              1.0    3.0  NaN    3.0    3.0    3.0    3.0    3.0
Vermont           1.0   60.0  NaN   60.0   60.0   60.0   60.0   60.0
Virginia          1.0   65.0  NaN   65.0   65.0   65.0   65.0   65.0
Washington        1.0   64.0  NaN   64.0   64.0   64.0   64.0   64.0
West Virginia     1.0   14.0  NaN   14.0   14.0   14.0   14.0   14.0
Wisconsin         1.0    3.0  NaN    3.0    3.0    3.0    3.0    3.0
Wyoming           1.0    3.0  NaN    3.0    3.0    3.0    3.0    3.0

In [101]:
final

,state,sat_2017_participation,sat_2017_reading_writing,sat_2017_math,sat_2017_total,act_2017_participation,act_2017_english,act_2017_math,act_2017_reading,act_2017_science,act_2017_composite,sat_2018_participation,sat_2018_reading_writing,sat_2018_math,sat_2018_total,act_2018_participation,act_2018_composite
0,Alabama,5.0,593,572,1165,100.0,18.9,18.4,19.7,19.4,19.2,6.0,595,571,1166,100.0,19.1
1,Alaska,38.0,547,533,1080,65.0,18.7,19.8,20.4,19.9,19.8,43.0,562,544,1106,33.0,20.8
2,Arizona,30.0,563,553,1116,62.0,18.6,19.8,20.1,19.8,19.7,29.0,577,572,1149,66.0,19.2
3,Arkansas,3.0,614,594,1208,100.0,18.9,19.0,19.7,19.5,19.4,5.0,592,576,1169,100.0,19.4
4,California,53.0,531,524,1055,31.0,22.5,22.7,23.1,22.2,22.8,60.0,540,536,1076,27.0,22.7
5,Colorado,11.0,606,595,1201,100.0,20.1,20.3,21.2,20.9,20.8,100.0,519,506,1025,30.0,23.9
6,Connecticut,100.0,530,512,1041,31.0,25.5,24.6,25.6,24.6,25.2,100.0,535,519,1053,26.0,25.6
7,Delaware,100.0,503,492,996,18.0,24.1,23.4,24.8,23.6,24.1,100.0,505,492,998,17.0,23.8
8,Florida,83.0,520,497,1017,73.0,19.0,19.4,21.0,19.4,19.8,56.0,550,549,1099,66.0,19.9
9,Georgia,61.0,535,515,1050,55.0,21.0,20.9,22.0,21.3,21.4,70.0,542,522,1064,53.0,21.4
10,Hawaii,55.0,544,541,1085,90.0,17.8,19.2,19.2,19.3,19.0,56.0,480,530,1010,89.0,18.9
11,Idaho,93.0,513,493,1005,38.0,21.9,21.8,23.0,22.1,22.3,100.0,508,493,1001,36.0,22.3
12,Illinois,9.0,559,556,1115,93.0,21.0,21.2,21.6,21.3,21.4,99.0,513,506,1019,43.0,23.9
13,Indiana,63.0,542,532,1074,35.0,22.0,22.4,23.2,22.3,22.6,63.0,542,532,1074,32.0,22.5
14,Iowa,2.0,641,635,1275,67.0,21.2,21.3,22.6,22.1,21.9,3.0,634,631,1265,68.0,21.8
15,Kansas,4.0,632,628,1260,73.0,21.1,21.3,22.3,21.7,21.7,4.0,633,631,1265,71.0,21.6
16,Kentucky,4.0,631,616,1247,100.0,19.6,19.4,20.5,20.1,20.0,4.0,630,618,1248,100.0,20.2
17,Louisiana,4.0,611,586,1198,100.0,19.4,18.8,19.8,19.6,19.5,4.0,615,595,1210,100.0,19.2
18,Maine,95.0,513,499,1012,8.0,24.2,24.0,24.8,23.7,24.3,99.0,512,501,1013,7.0,24.0
19,Maryland,69.0,536,52,1060,28.0,23.3,23.1,24.2,2.3,23.6,76.0,545,535,1080,31.0,22.5
20,Massachusetts,76.0,555,551,1107,29.0,25.4,25.3,25.9,24.7,25.4,80.0,562,563,1125,25.0,25.5
21,Michigan,100.0,509,495,1005,29.0,24.1,23.7,24.5,23.8,24.1,100.0,511,499,1011,22.0,24.2
22,Minnesota,3.0,644,651,1295,100.0,20.4,21.5,21.8,21.6,21.5,4.0,643,655,1298,99.0,21.3
23,Mississippi,2.0,634,607,1242,100.0,18.2,18.1,18.8,18.8,18.6,3.0,630,606,1236,100.0,18.6
24,Missouri,3.0,640,631,1271,100.0,19.8,19.9,20.8,20.5,20.4,4.0,633,629,1262,100.0,20.0
25,Montana,10.0,605,591,1196,100.0,19.0,20.2,21.0,20.5,20.3,10.0,606,592,1198,100.0,20.0
26,Nebraska,3.0,629,625,1253,84.0,20.9,20.9,21.9,21.5,21.4,3.0,629,623,1252,100.0,20.1
27,Nevada,26.0,563,553,1116,100.0,16.3,18.0,18.1,18.2,17.8,23.0,574,566,1140,100.0,17.7
28,New Hampshire,96.0,532,520,1052,18.0,25.4,25.1,26.0,24.9,25.5,96.0,535,528,1063,16.0,25.1
29,New Jersey,70.0,530,526,1056,34.0,23.8,23.8,24.1,23.2,23.9,82.0,547,547,1094,31.0,23.7
30,New Mexico,11.0,577,561,1138,66.0,18.6,19.4,20.4,20.0,19.7,16.0,552,540,1093,67.0,19.4
31,New York,67.0,528,523,1052,31.0,23.8,24.0,24.6,23.9,24.2,79.0,534,534,1068,27.0,24.5
32,North Carolina,49.0,546,535,1081,100.0,17.8,19.3,19.6,19.3,19.1,52.0,554,543,1098,100.0,19.1
33,North Dakota,2.0,635,621,1256,98.0,19.0,20.4,20.5,20.6,20.3,2.0,640,643,1283,98.0,20.3
34,Ohio,12.0,578,570,1149,75.0,21.2,21.6,22.5,22.0,22.0,18.0,552,547,1099,100.0,20.3
35,Oklahoma,7.0,530,517,1047,100.0,18.5,18.8,20.1,19.6,19.4,8.0,541,521,1062,100.0,19.3
36,Oregon,43.0,560,548,1108,40.0,21.2,21.5,22.4,21.7,21.8,48.0,564,553,1117,42.0,21.3
37,Pennsylvania,65.0,540,531,1071,23.0,23.4,23.4,24.2,23.3,23.7,70.0,547,539,1086,20.0,23.5
38,Rhode Island,71.0,539,524,1062,21.0,24.0,23.3,24.7,23.4,24.0,97.0,513,505,1018,15.0,24.2
39,South Carolina,50.0,543,521,1064,100.0,17.5,18.6,19.1,18.9,18.7,55.0,547,523,1070,100.0,18.3
40,South Dakota,3.0,612,603,1216,80.0,20.7,21.5,22.3,22.0,21.8,3.0,622,618,1240,77.0,21.9
41,Tennessee,5.0,623,604,1228,100.0,19.5,19.2,20.1,19.9,19.8,6.0,624,607,1231,100.0,19.6
42,Texas,62.0,513,507,1020,45.0,19.5,20.7,21.1,20.9,20.7,66.0,520,512,1032,45.0,20.7
43,Utah,3.0,624,614,1238,100.0,19.5,19.9,20.8,20.6,20.3,4.0,480,530,1010,100.0,20.4
44,Vermont,60.0,562,551,1114,29.0,23.3,23.1,24.4,23.2,23.6,64.0,565,554,1120,24.0,24.1
45,Virginia,65.0,561,541,1102,29.0,23.5,23.3,24.6,23.5,23.8,68.0,567,550,1117,24.0,23.9
46,Washington,64.0,541,534,1075,29.0,20.9,21.9,22.1,22.0,21.9,69.0,543,538,1081,24.0,22.2
47,West Virginia,14.0,558,528,1086,69.0,20.0,19.4,21.2,20.5,20.4,28.0,513,486,999,65.0,20.3
48,Wisconsin,3.0,642,649,1291,100.0,19.7,20.4,20.6,20.9,20.5,3.0,641,653,1294,100.0,20.5
49,Wyoming,3.0,626,604,1230,100.0,19.4,19.8,20.8,20.6,20.2,3.0,633,625,1257,100.0,20.0

In [86]:
# Highest Mean Total/Composite Scores by State:
final.groupby("state")["sat_2017_total"].max

<pandas.core.groupby.generic.SeriesGroupBy object at 0x111532b90>

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [ ]:
# Code

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
# Code

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?

## Bonus: Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:

#### We generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer:

##### Is it appropriate to compare *these* specific SAT and ACT math scores? 

Why or why not?

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code: